.token-bucket {
    width: 80px;
    height: 40px;
    padding: 0;
    margin: 2px;
}

img.token {
    height: 18px;
}

.token-bucket img.token {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card img.token {
    position: absolute;
    top: -1px;
    right: 0;
}

.btn.card, .btn.card[disabled] {
    background-color: #FFFFFF;
    width: 80px;
    height: 70px;
    padding: 0;
    overflow: hidden;
}

.btn.card.buying, .btn.card.buying[disabled] {
    opacity: 0.5;
}

.shared .btn.card, .shared .btn.card[disabled],
.player-reserve .btn.card, .player-reserve .btn.card[disabled] {
    margin: 2px;
}

.card div.bg, .token-bucket div.bg {
    height: 100%;
    width: 100%;
    position: relative;
}

.card div.image {
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.card div.points {
    position: absolute;
    top: -1px;
    left: 5px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
}

.card div.cost {
    position: absolute;
    bottom: 0;
    left: 0;
}

div.cost-bubble {
    line-height: 12px;
    padding: 0 4px;
    font-weight: bold;
}

.card div.deck-count {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
    line-height: 12px;
    padding: 0 4px;
    font-weight: bold;
    opacity: 0.7;
}

/* card animation */
.card.btn:not([disabled]), .token-bucket.btn:not([disabled]) {
    -webkit-animation: webkit-pulsate 1s infinite alternate;
    -moz-animation: moz-pulsate 1s infinite alternate;
    animation: pulsate 1s infinite alternate;
}

@-webkit-keyframes webkit-pulsate {
    from {
        box-shadow: 0 0 5px #999;
        -webkit-transform: scale(0.96);
    }
    to {
        box-shadow: 0 0 10px #0099CC;
        -webkit-transform: scale(1);
    }
}

/* The below breaks firefox. Wat */
@-moz-keyframes moz-pulsate {
    from {
        box-shadow: 0 0 5px #999;
        -moz-transform: scale(0.96);
    }
    to {
        box-shadow: 0 0 10px #0099CC;
        -moz-transform: scale(1);
    }
}

@keyframes pulsate {
    from {
        box-shadow: 0 0 5px #999;
        transform: scale(0.96);
    }
    to {
        box-shadow: 0 0 10px #0099CC;
        transform: scale(1);
    }
}

.card.btn[disabled], .token-bucket.btn[disabled] {
    opacity: 1;
}

/* noble overrides */
.btn.card.noble {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    overflow: visible;
}

.card.noble div.bg {
    border-radius: 40px;
}

/* players */
.player-stacks .card-stack {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 80px;
    margin: 2px 2px 5px;
    padding: 0;
}

.player-stacks .card, .player-stacks .card[disabled] {
    height: 20px;
}

.player-stacks div.cost-bubble, .player-nobles div.cost-bubble {
    display: none;
}

.player-reserve .well {
    margin-bottom: 0;
}

.player-panel {
    position: relative;
}

.player-buying-power {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 12px;
}

.panel-heading {
    padding: 5px 10px;
}

.panel-body {
    padding: 10px;
}

/* 2-column view */
@media screen and (min-width: 992px) {
}

.cost-bubble.red {
    background-color: #F08030;
}

.cost-bubble.green {
    background-color: #78C850;
}

.cost-bubble.blue {
    background-color: #6890F0;
}

.cost-bubble.white {
    background-color: #dcdca5;
}

.cost-bubble.black {
    background-color: #806756;
}

.cost-bubble.gold {
    background-color: #F8D030;
}

.token-bucket.red .bg {
    box-shadow: inset 0 0 10px #F08030;
}

.token-bucket.green .bg {
    box-shadow: inset 0 0 10px #78C850;
}

.token-bucket.blue .bg {
    box-shadow: inset 0 0 10px #6890F0;
}

.token-bucket.white .bg {
    box-shadow: inset 0 0 10px #dcdca5;
}

.token-bucket.black .bg {
    box-shadow: inset 0 0 10px #806756;
}

.token-bucket.gold .bg {
    box-shadow: inset 0 0 10px #F8D030;
}

.token-bucket.zero div.bg {
    box-shadow: none;
}
